{% extends 'base.html' %} 
{% load static %} 
{% block title %}Employee List{% endblock title%}

{% block extra_head %}
  <link href="{% static "/fonts/bootstrap-icons.css" %}" rel="stylesheet" type="text/css">
{% endblock extra_head %}

<!-- Layout wrapper -->
{% block content %} 

    {% include 'navbar.html' %}

    <div class="container-fluid page-body-wrapper">
    {% include 'layout.html' %}

    <div class="main-panel">
      <div class="content-wrapper">
      
        <div class="card mt">
          <div class="card-body">
            <div class="page-header">
              <h3 class="page-title">
                GOP List
              </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <a href="{% url 'create-gop' %}"> <button type="button" class="btn btn-primary btn-fw" >Create GOP</button></a>     
                </ol>
              </nav>
            </div>
            <div class="form-container">
              <div class="col-md-3">
                <div>
                  <label for="start-date">Admission Date:</label>
                </div>
                  <input type="date" id="start-date" placeholder="From Date" class="form-control">
              </div>
              <div class="col-md-3">
                <div>
                  <label for="end-date">Admission To :</label>
                </div>
                  <input class="form-control" type="date" id="end-date" placeholder="To Date">
              </div>
              <div>
                <div>
                  <label for="dropdown">Status :</label>
                </div>
                  <select  id="file-status-status"  class="select2 form-control" style="width: 200px;">
                     <option value="">Select Status</option>
                      <option value="1">Pending</option>
                      {% comment %} <option value="2">InActive</option> {% endcomment %}
                  </select>
              </div>
              <div class="btn-row">
                  <button onclick="" class="btn-reset">Reset</button>
              
                  <button id="fiter-data" class="btn-filter">Filter</button>
              </div>
          </div>
           
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                  <table id="gop_listing" class="table" >
                    <thead class="">
                      <tr>
                          <th>Hospital Name</th>
                          <th>Bed/ Cabin/Word No</th>
                          <th>Attendant Name</th>
                          <th>Attendant Mobile</th>
                          <th>Admission Date</th>
                          <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          </div>
       
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
     
      <!-- partial -->
    </div> 
  
  {% include 'footer.html' %}
</div>
</div>
<!-- container-scroller -->



{% endblock content %}
<!-- / Layout wrapper -->

{% block extra_script %}


    <script>
      var claimTable
      $(document).ready(function() {
        let path = window.location.pathname;  
        // Example: "/employee/42/"
        let parts = path.split("/");  
        
        // Get the policy ID (second last element)
        let policyId = parts[parts.length - 2];  
        
        console.log("Policy ID:", policyId);

        claimTable=$('#gop_listing').DataTable({
          "pageLength" : 10,
          "processing": true,
          "serverSide": true,
          "filter": true,
          "responsive": true,
          "order": [0, 'desc'],
          ajax: {
            "processing":false,
            "url":  "{% url 'gop-list'%}",
            "dataSrc": function (response) {
              return response.data;
           },
           data: function (d) {
            d.status =$('#file-status-status').find(":selected").val()
           }
          
          },      
          columns: [
          
              {"mData":"hospital.hospital_name",defaultContent:"N/A"},
              {"mData":"bed_cabin_word_no",defaultContent:"N/A"},
              {"mData":"attendant_name",defaultContent:"N/A"},
              {"mData":"attendant_mobile",defaultContent:"N/A"},
              {"mData":"date_of_admission",defaultContent:"N/A"},
              {"mData": function (source) {

                return  `<div class="action-buttons">
                  {% comment %} <a href="/claim/claim-view/${source.id}" class="btn btn-outline-primary">View</a> {% endcomment %}
                </div>`
                }
              },  
          ],
          buttons: [
          'pdf',
          'excel',
          'print',
          'csv'
          ]
        });
      
        $('#gop_listing').on('click', '.emp-delete', function (event) {      
          var row = claimTable.row($(this).parents('tr'));
          var id = ($(this).attr('data-id'))
          swal({
            title: "Are you sure?",
            text: "You will not be able to recover this data!",
            icon: "warning",
            buttons: [
              'Cancel',
              'Confirm'
            ],
            dangerMode: true,
          }).then(function(isConfirm) {
            if (isConfirm) {
                $.ajax({
                  type:'DELETE',
                  headers: {//<==
                    "X-CSRFTOKEN": "{{ csrf_token }}"//<==
                  },
                  url:'/claim/claim-with-history/'+id+'/',
                  success: function(data){
                    if(data.error){  //You are checking for true/false not yes or no.
                      $.toast({
                        heading: 'Danger',
                        text: "Something wrong.data didn't delete",
                        showHideTransition: 'slide',
                        icon: 'error',
                        loaderBg: '#f2a654',
                        position: 'top-right'
                      })
                    }else{
                      window.location.reload()
                      }
                  }
                });
            } else {
              swal("Cancelled", "Your data is safe :)", "error");
            }
          })
         
        });

        $('#fiter-data').on('click', function () {
          claimTable.draw();
        });
       
     
        });
     
  </script>
  {% endblock extra_script %}