{% extends 'base.html' %}
{% load static %}
{% block title %}
  My Policy
{% endblock %}

<!-- Layout wrapper -->
{% block content %}
  {% include 'navbar.html' %}

  <div class="container-fluid page-body-wrapper">
    {% include 'layout.html' %}
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">My Policy</h3>
          <h6>Plan: <span id="plan-name"></span></h6>
        </div>

        <div class="container mt-4" id="policy-container">
          <p>Loading your policy...</p>
        </div>
         
        </div>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:partials/_footer.html -->

      <!-- partial -->

      <!-- page-body-wrapper ends -->

      
    </div>
    {% include 'footer.html' %}
  </div>
  <!-- container-scroller -->
{% endblock %}

{% block extra_script %}
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script>
  $(document).ready(function() {
    var $container = $('#policy-container');
    var $employeeName = $('#employee-name');
    var $planName = $('#plan-name');

    // Token for authentication

    $.ajax({
        url: '/b2bmanagement/user-coverage-amounts/',
        type: 'GET',
        headers: {//<==
          "X-CSRFTOKEN": "{{ csrf_token }}"//<==
        },
        success: function(data) {
            if(data.detail){
                $container.html('<p>' + data.detail + '</p>');
                return;
            }

            $employeeName.text(data.employee_name);
            $planName.text(data.plan.plan_name);

            var coverages = data.plan.coverages;
            if(coverages.length === 0){
                $container.html('<p>No coverages found for your plan.</p>');
                return;
            }

            var html = '';
            $.each(coverages, function(index, item){
                html += `
                    <div class="row mb-3 justify-content-between">
                        <div class="col-md-5">
                            <div class="info-card coverage-card p-2">
                                <strong>${item.policy_type}:</strong> ${item.coverage_type} Coverage
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="info-card amount-card text-right p-2">
                                <strong>BDT :</strong> ${Number(item.coverage_amount).toLocaleString('en-BD', {minimumFractionDigits: 2})}
                            </div>
                        </div>
                    </div>
                `;
            });

            $container.html(html);
        },
        error: function(xhr, status, error){
            console.error(error);
            $container.html('<p>Error loading policy data.</p>');
        }
    });
  });
</script>
{% endblock %}
<!-- / Layout wrapper -->
