{% extends 'base.html' %} {% load static %} {% block title %} Waadaa Supervisor
{% endblock %}

<!-- Layout wrapper -->
{% block content %} {% include 'navbar.html' %}

<div class="container-fluid page-body-wrapper">
  {% include 'layout.html' %}
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">Waadaa Supervisor</h3>
      </div>
      <div class="col-md-12 custom-card-w-o-h mb-4 row ml-1">
        <h5>Start Date: 20-12-2024</h5>
        <h5>End Date: 20-12-2025</h5>
      </div>
      <div class="row grid-margin">
        <div class="col-md-4 stretch-card">
          <a
            href="#"
            class="btn btn-lg btn-block h-100 d-flex flex-column justify-content-center align-items-center text-center custom-card"
          >
            <img
              src="{% static 'images/dashboard/create-claim.png' %}"
              class="icon-dashboard"
               width="80" height="80"
            />
            <h5 class="mt-2 custom-text">Create Claim</h5>
          </a>
        </div>
        <div class="col-md-4 stretch-card">
          <a
            href="{% url 'required_document' %}"
            class="btn btn-lg btn-block h-100 d-flex flex-column justify-content-center align-items-center text-center custom-card"
          >
            <div class="number-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Number</h5>
            </div>

            <div class="amount-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Amount</h5>
            </div>
            <img
              src="{% static 'images/dashboard/under-process.png' %}"
              class="icon-dashboard"
              alt="Under Process"
              width="80"
              height="80"
            />
            <h5 class="mt-2 custom-text">Under Process</h5>
          </a>
        </div>
        <div class="col-md-4 stretch-card">
          <a
            href="#"
            class="btn btn-lg btn-block h-100 d-flex flex-column justify-content-center align-items-center text-center custom-card"
          >
            <div class="number-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Number</h5>
            </div>

            <div class="amount-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Amount</h5>
            </div>
            <img
              src="{% static 'images/dashboard/documents.png' %}"
              class="icon-dashboard"
              alt="Documents Required"
              width="80"
              height="80"
            />
            <h5 class="mt-2 custom-text">Documents Required</h5>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 stretch-card mt-4">
          <a
            href="#"
            class="btn btn-lg btn-block h-100 d-flex flex-column justify-content-center align-items-center text-center custom-card"
          >
            <div class="number-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Number</h5>
            </div>

            <div class="amount-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Amount</h5>
            </div>
            <img
              src="{% static 'images/dashboard/settled.png' %}"
              class="icon-dashboard"
              alt="Settled Claims"
              width="80"
              height="80"
            />
            <h5 class="mt-2 custom-text">Settled Claims</h5>
          </a>
        </div>
        <div class="col-md-4 stretch-card mt-4">
          <a
            href=""
            class="btn btn-lg btn-block h-100 d-flex flex-column justify-content-center align-items-center text-center custom-card"
          >
            <div class="number-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Number</h5>
            </div>

            <div class="amount-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Amount</h5>
            </div>
            <img
              src="{% static 'images/dashboard/Paid.png' %}"
              class="icon-dashboard"
              alt="Paid Claims"
              width="80"
              height="80"
            />
            <h5 class="mt-2 custom-text">Paid Claims</h5>
          </a>
        </div>

        <div class="col-md-4 stretch-card mt-4">
          <a
            href="#"
            class="btn btn-lg btn-block h-100 d-flex flex-column justify-content-center align-items-center text-center custom-card"
          >
            <div class="number-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Number</h5>
            </div>

            <div class="amount-div">
              <h4 class="">0</h4>
              <h5 class="custom-text">Amount</h5>
            </div>
            <img
              src="{% static 'images/dashboard/claim-denial.png' %}"
              class="icon-dashboard"
              alt="Declined Claim"
              width="80"
              height="80"
            />
            <h5 class="mt-2 custom-text">Declined Claims</h5>
          </a>
        </div>

        <div class="col-md-4 stretch-card mt-4">
          <a
            href="{% url 'claim_list' %}"
            class="btn btn-lg btn-block h-100 d-flex flex-column justify-content-center align-items-center text-center custom-card"
          >
            <img
              src="{% static 'images/dashboard/claim-history.png' %}"
              class="icon-dashboard"
              alt="Claims History"
              width="80"
              height="80"
            />
            <h5 class="mt-2 custom-text">Claims History</h5>
          </a>
        </div>
        <div class="col-md-4 stretch-card mt-4">
          <a
            href=""
            class="btn btn-lg btn-block h-100 d-flex flex-column justify-content-center align-items-center text-center custom-card"
          >
            <img
              src="{% static 'images/dashboard/gpo.png' %}"
              class="icon-dashboard"
              alt="Total GoP"
              width="80"
              height="80"
            />
            <h5 class="mt-2 custom-text">GoP</h5>
          </a>
        </div>

        <div class="col-md-4 stretch-card mt-4">
          <a
            href="#"
            class="btn btn-lg btn-block h-100 d-flex flex-column justify-content-center align-items-center text-center custom-card"
          >
            <img
              src="{% static 'images/dashboard/organization.png' %}"
              class="icon-dashboard"
              alt="Employee Family"
              width="80"
              height="80"
            />
            <h5 class="mt-2 custom-text">Employee Family</h5>
          </a>
        </div>
      </div>

      {% comment %}
      <div class="page-header">
        <h3 class="page-title">Dashboard</h3>
      </div>
      <div class="col-md-12 custom-card-w-o-h mb-4 row">
        <h5>Start Date: 20-12-2024</h5>
        <h5>End Date: 20-12-2025</h5>
      </div>
      <div class="row grid-margin">
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-info text-white">
            <div class="card-body badge-primary">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>{{approved_count}}</h2>
                  <p class="mb-0">Approved Claim</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-success text-white">
            <div class="card-body badge-primary">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>0</h2>
                  <p class="mb-0">Settled Claim</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-danger text-white">
            <div class="card-body badge-primary">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>{{decline_count}}</h2>
                  <p class="mb-0">Decline Claim</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-warning text-white">
            <div class="card-body badge-primary">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>{{pending_count}}</h2>
                  <p class="mb-0">Pending Claim</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row grid-margin">
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-info text-white">
            <div class="card-body badge-primary">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>325</h2>
                  <p class="mb-0">Submitted Claim Amount</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-success text-white">
            <div class="card-body badge-primary">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>200,000</h2>
                  <p class="mb-0">Settled Claim Amount</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-danger text-white">
            <div class="card-body badge-primary">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>25,345</h2>
                  <p class="mb-0">Decline Claim Amount</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-warning text-white">
            <div class="card-body badge-primary">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>34,640</h2>
                  <p class="mb-0">Pending Claim Amount</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row grid-margin">
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-light text-dark">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>427</h2>
                  <p class="mb-0">Approved Claim</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-light text-dark">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>23</h2>
                  <p class="mb-0">Rejected Claim</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card">
          <div class="card bg-gradient-light text-dark">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="mr-3">
                  <h2>300,000</h2>
                  <p class="mb-0">Claim Amount Disbursed</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 stretch-card">
          <div class="card"></div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-3 stretch-card">
          <a
            href="#"
            class="btn btn-primary btn-lg btn-block h-100 d-flex justify-content-center align-items-center"
            >Report</a
          >
        </div>
        <div class="col-md-3 stretch-card">
          <a
            href="#"
            class="btn btn-primary btn-lg btn-block h-100 d-flex justify-content-center align-items-center"
            >Add Beneficiary</a
          >
        </div>
        <div class="col-md-3 stretch-card">
          <a
            href="#"
            class="btn btn-primary btn-lg btn-block h-100 d-flex justify-content-center align-items-center"
            >Add Organization</a
          >
        </div>
        <div class="col-md-3 stretch-card">
          <a
            href="#"
            class="btn btn-primary btn-lg btn-block h-100 d-flex justify-content-center align-items-center"
            data-toggle="modal"
            data-target="#bulkUploadModal"
            >Bulk Upload</a
          >
        </div>
      </div>
      {% endcomment %} {% comment %}
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fas fa-gift"></i>
                Orders
              </h4>
              <canvas id="orders-chart"></canvas>
              <div id="orders-chart-legend" class="orders-chart-legend"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fas fa-chart-line"></i>
                Sales
              </h4>
              <h2 class="mb-5">
                56000
                <span class="text-muted h4 font-weight-normal">Sales</span>
              </h2>
              <canvas id="sales-chart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <h4 class="card-title">
                <i class="fas fa-chart-pie"></i>
                Sales status
              </h4>
              <div
                class="flex-grow-1 d-flex flex-column justify-content-between"
              >
                <canvas id="sales-status-chart" class="mt-3"></canvas>
                <div class="pt-4">
                  <div
                    id="sales-status-chart-legend"
                    class="sales-status-chart-legend"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <i class="far fa-futbol"></i>
                Activity
              </h4>
              <ul class="solid-bullet-list">
                <li>
                  <h5>
                    4 people shared a post
                    <span
                      class="float-right text-muted font-weight-normal small"
                      >8:30 AM</span
                    >
                  </h5>
                  <p class="text-muted">It was an awesome work!</p>
                  <div class="image-layers">
                    <div
                      class="img-sm profile-image-text bg-warning rounded-circle image-layer-item"
                    >
                      M
                    </div>
                    <img
                      class="img-sm rounded-circle image-layer-item"
                      src="{% static 'images/faces/face3.jpg' %}"
                      alt="profile"
                    />
                    <img
                      class="img-sm rounded-circle image-layer-item"
                      src="{% static 'images/faces/face5.jpg' %}"
                      alt="profile"
                    />
                    <img
                      class="img-sm rounded-circle image-layer-item"
                      src="{% static 'images/faces/face8.jpg' %}"
                      alt="profile"
                    />
                  </div>
                </li>
                <li>
                  <h5>
                    Stella posted in a group
                    <span
                      class="float-right text-muted font-weight-normal small"
                      >11:40 AM</span
                    >
                  </h5>
                  <p class="text-muted">The team has done a great job</p>
                </li>
                <li>
                  <h5>
                    Dobrick posted in material
                    <span
                      class="float-right text-muted font-weight-normal small"
                      >4:30 PM</span
                    >
                  </h5>
                  <p class="text-muted">Great work. Keep it up!</p>
                </li>
              </ul>
              <div class="border-top pt-3">
                <div class="d-flex justify-content-between">
                  <button class="btn btn-outline-dark">More</button>
                  <button class="btn btn-primary btn-icon-text">
                    Add new task
                    <i class="btn-icon-append fas fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <h4 class="card-title">
                <i class="fas fa-tachometer-alt"></i>
                Daily Sales
              </h4>
              <p class="card-description">Daily sales for the past one month</p>
              <div
                class="flex-grow-1 d-flex flex-column justify-content-between"
              >
                <canvas
                  id="daily-sales-chart"
                  class="mt-3 mb-3 mb-md-0"
                ></canvas>
                <div
                  id="daily-sales-chart-legend"
                  class="daily-sales-chart-legend pt-4 border-top"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 grid-margin">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fas fa-envelope"></i>
                Inbox(31)
              </h4>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label"
                            ><input type="checkbox" class="form-check-input"
                          /></label>
                        </div>
                      </td>
                      <td class="py-1">
                        <img
                          src="{% static 'images/faces/face13.jpg' %}"
                          alt="profile"
                          class="img-sm rounded-circle"
                        />
                      </td>
                      <td class="font-weight-bold">Andrew Bowen</td>
                      <td>
                        <label class="badge badge-light badge-pill"
                          >Development</label
                        >
                      </td>
                      <td>The required fields are added in the database</td>
                      <td>
                        <i class="fas fa-ellipsis-v"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label"
                            ><input type="checkbox" class="form-check-input"
                          /></label>
                        </div>
                      </td>
                      <td class="py-1">
                        <img
                          src="{% static 'images/faces/face2.jpg' %}"
                          alt="profile"
                          class="img-sm rounded-circle"
                        />
                      </td>
                      <td class="font-weight-bold">Mae Saunders</td>
                      <td>
                        <label class="badge badge-light badge-pill"
                          >Development</label
                        >
                      </td>
                      <td>The application will be completed by tomorrow</td>
                      <td>
                        <i class="fas fa-ellipsis-v"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label"
                            ><input type="checkbox" class="form-check-input"
                          /></label>
                        </div>
                      </td>
                      <td class="py-1">
                        <div
                          class="img-sm rounded-circle bg-warning profile-image-text"
                        >
                          M
                        </div>
                      </td>
                      <td class="font-weight-bold">Manuel Yates</td>
                      <td>
                        <label class="badge badge-light badge-pill"
                          >Design</label
                        >
                      </td>
                      <td>The new design is uploaded in zeplin</td>
                      <td>
                        <i class="fas fa-ellipsis-v"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label"
                            ><input type="checkbox" class="form-check-input"
                          /></label>
                        </div>
                      </td>
                      <td class="py-1">
                        <img
                          src="{% static 'images/faces/face11.html' %}"
                          alt="profile"
                          class="img-sm rounded-circle"
                        />
                      </td>
                      <td class="font-weight-bold">Marguerite Phillips</td>
                      <td>
                        <label class="badge badge-light badge-pill"
                          >Development</label
                        >
                      </td>
                      <td>Please send me the latest requirements</td>
                      <td>
                        <i class="fas fa-ellipsis-v"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label"
                            ><input type="checkbox" class="form-check-input"
                          /></label>
                        </div>
                      </td>
                      <td class="py-1">
                        <div
                          class="img-sm rounded-circle bg-info profile-image-text"
                        >
                          C
                        </div>
                      </td>
                      <td class="font-weight-bold">Clifford Wilson</td>
                      <td>
                        <label class="badge badge-light badge-pill"
                          >Testing</label
                        >
                      </td>
                      <td>The issues are documented in the shared sheet</td>
                      <td>
                        <i class="fas fa-ellipsis-v"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fas fa-table"></i>
                Sales Data
              </h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Customer</th>
                      <th>Item code</th>
                      <th>Orders</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="font-weight-bold">Clifford Wilson</td>
                      <td class="text-muted">PT613</td>
                      <td>350</td>
                      <td>
                        <label class="badge badge-success badge-pill"
                          >Dispatched</label
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Mary Payne</td>
                      <td class="text-muted">ST456</td>
                      <td>520</td>
                      <td>
                        <label class="badge badge-warning badge-pill"
                          >Processing</label
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Adelaide Blake</td>
                      <td class="text-muted">CS789</td>
                      <td>830</td>
                      <td>
                        <label class="badge badge-danger badge-pill"
                          >Failed</label
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Adeline King</td>
                      <td class="text-muted">LP908</td>
                      <td>579</td>
                      <td>
                        <label class="badge badge-primary badge-pill"
                          >Delivered</label
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="font-weight-bold">Bertie Robbins</td>
                      <td class="text-muted">HF675</td>
                      <td>790</td>
                      <td>
                        <label class="badge badge-info badge-pill"
                          >On Hold</label
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fas fa-calendar-alt"></i>
                Calendar
              </h4>
              <div id="inline-datepicker-example" class="datepicker"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fas fa-thumbtack"></i>
                Todo
              </h4>
              <div class="add-items d-flex">
                <input
                  type="text"
                  class="form-control todo-list-input"
                  placeholder="What do you need to do today?"
                />
                <button
                  class="add btn btn-primary font-weight-bold todo-list-add-btn"
                  id="add-task"
                >
                  Add
                </button>
              </div>
              <div class="list-wrapper">
                <ul class="d-flex flex-column-reverse todo-list">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label"
                        ><input class="checkbox" type="checkbox" />Meeting with
                        Alisa</label
                      >
                    </div>
                    <i class="remove fa fa-times-circle"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label"
                        ><input class="checkbox" type="checkbox" checked />Call
                        John</label
                      >
                    </div>
                    <i class="remove fa fa-times-circle"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label"
                        ><input class="checkbox" type="checkbox" />Create
                        invoice</label
                      >
                    </div>
                    <i class="remove fa fa-times-circle"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label"
                        ><input class="checkbox" type="checkbox" />Print
                        Statements</label
                      >
                    </div>
                    <i class="remove fa fa-times-circle"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label"
                        ><input
                          class="checkbox"
                          type="checkbox"
                          checked
                        />Prepare for presentation</label
                      >
                    </div>
                    <i class="remove fa fa-times-circle"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label"
                        ><input class="checkbox" type="checkbox" />Pick up kids
                        from school</label
                      >
                    </div>
                    <i class="remove fa fa-times-circle"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <i class="fas fa-rocket"></i>
                Projects
              </h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Assigned to</th>
                      <th>Project name</th>
                      <th>Priority</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="py-1">
                        <img
                          src="{% static 'images/faces/face1.jpg' %}"
                          alt="profile"
                          class="img-sm rounded-circle"
                        />
                      </td>
                      <td>South Shyanne</td>
                      <td>
                        <label class="badge badge-warning badge-pill"
                          >Medium</label
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="py-1">
                        <img
                          src="{% static 'images/faces/face2.jpg' %}"
                          alt="profile"
                          class="img-sm rounded-circle"
                        />
                      </td>
                      <td>New Trystan</td>
                      <td>
                        <label class="badge badge-danger badge-pill"
                          >High</label
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="py-1">
                        <img
                          src="{% static 'images/faces/face3.jpg' %}"
                          alt="profile"
                          class="img-sm rounded-circle"
                        />
                      </td>
                      <td>East Helga</td>
                      <td>
                        <label class="badge badge-success badge-pill"
                          >Low</label
                        >
                      </td>
                    </tr>
                    <tr>
                      <td class="py-1">
                        <img
                          src="{% static 'images/faces/face4.jpg' %}"
                          alt="profile"
                          class="img-sm rounded-circle"
                        />
                      </td>
                      <td>Omerbury</td>
                      <td>
                        <label class="badge badge-warning badge-pill"
                          >Medium</label
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-md-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center mb-3 mb-md-0">
                  <button class="btn btn-social-icon btn-facebook btn-rounded">
                    <i class="fab fa-facebook-f"></i>
                  </button>
                  <div class="ml-4">
                    <h5 class="mb-0">Facebook</h5>
                    <p class="mb-0">813 friends</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-3 mb-md-0">
                  <button class="btn btn-social-icon btn-twitter btn-rounded">
                    <i class="fab fa-twitter"></i>
                  </button>
                  <div class="ml-4">
                    <h5 class="mb-0">Twitter</h5>
                    <p class="mb-0">9000 followers</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-3 mb-md-0">
                  <button class="btn btn-social-icon btn-google btn-rounded">
                    <i class="fab fa-google-plus-g"></i>
                  </button>
                  <div class="ml-4">
                    <h5 class="mb-0">Google plus</h5>
                    <p class="mb-0">780 friends</p>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <button class="btn btn-social-icon btn-linkedin btn-rounded">
                    <i class="fab fa-linkedin-in"></i>
                  </button>
                  <div class="ml-4">
                    <h5 class="mb-0">Linkedin</h5>
                    <p class="mb-0">1090 connections</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endcomment %}
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->

    <!-- partial -->

    <!-- page-body-wrapper ends -->

    {% include 'footer.html' %}
  </div>
</div>
<!-- container-scroller -->
{% endblock %} {% block extra_script %}
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/jquery-file-upload.js' %}"></script>
<script>
  $(document).ready(function () {
    const csrftoken = getCookie("csrftoken");
    $(document).on("submit", "#form-bulk-upload-information", function (e) {
      e.preventDefault();
      var formData = new FormData();
      var fileInput = $("#excel_file")[0];

      if (fileInput.files.length === 0) {
        $("#message").text("Please select a file.");
        return;
      }
      $("#loader").show(); // show loader
      formData.append("excel_file", fileInput.files[0]);
      $.ajax({
        url: "/dashboard/upload-excel/", // your Django URL for upload
        type: "POST",
        data: formData,
        processData: false, // Important for file upload
        contentType: false, // Important for file upload
        headers: { "X-CSRFToken": csrftoken }, // CSRF token
        success: function (response) {
          $("#popupContent").html("");
          $("#loader").hide();
          if (response.status == true) {
            $("#excel_file").val("");
            html = "";
            if (response.inserted.length > 0) {
              html += "<br><strong>Uploaded data</strong><br>";
            }
            if (response.duplicates.length > 0) {
              html += "<br><strong>Duplicates:</strong><br>";
              response.duplicates.forEach((item) => {
                html += `Member Name: ${item.member_name}, Member id: ${item.employee_id} }<br>`;
              });
            }

            $("#popupContent").html(html);
            $("#popup").show();
          } else {
            alert(JSON.stringify(response.message));
          }
        },
        error: function (xhr) {
          $("#loader").hide();
          alert(JSON.stringify(xhr.responseJSON.error || "Upload failed"));
        },
      });
    });

    // Helper function to get CSRF token cookie
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.startsWith(name + "=")) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });
</script>
{% endblock %}
<!-- / Layout wrapper -->
